PORT=5000
MONGO_URI=mongodb+srv://ankur143514_db_user:Wm589kFhO8qAlnpi@taskhandler.hdefi37.mongodb.net/
TASK_QUEUE_KEY=ai_task_queue
JWT_SECRET=QWERTYUIOPASDFGHJKLZXCVBNM1234567890abcdefABCDEFGH
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000


# Wm589kFhO8qAlnpi